---
// Import styles
import "../../styles/global.css";
import { ClientRouter } from "astro:transitions";
import CrossmintProviders from "../react/CrossmintProvider.tsx";

// Props interface
interface Props {
  title?: string;
  description?: string;
}

// Default metadata
const {
  title = "StreamFi - New Music Daily: Discover. Own. Connect.",
  description = "Discover music without limits",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body
    class="bg-black relative w-screen overflow-x-hidden font-[Halyard Display]"
  >
    <CrossmintProviders client:load>
      <slot />
    </CrossmintProviders>
  </body>
</html>
